<!-- Header -->
<%-include('include/_header')%>
<!-- /Header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add_user" class="border-shadow">
                    <span class="text-gradient">New User<i class="fa-solid fa-id-badge"></i></span>
                </a>
            </div>

            <!-- form handeling -->
            <form action="/" method="POST">
                <table class="table">
                    <thread class="tablehead-dark">
                        <tr class="tablehead-dark">
                            <th>ID No.</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thread>
                    <tbody>
                        <%-include('include/_show')%>
                        <%for(let i = 0; i < employees.length; i++){%>
                            <tr>
                                <td><%=employees[i].id%></td>
                                <td><%=employees[i].name%></td>
                                <td><%=employees[i].email%></td>
                                <td><%=employees[i].gender%></td>
                                <td><%=employees[i].status%></td>
                                <td>
                                    <a href="/update_user/<%=employees[i].id%>" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                    </a>
                                    <form action="/delete/<%=employees[i].id%>?_method=DELETE" method="POST" class="btn border-shadow delete">
                                        <button type="submit" class="text-gradient"><i class="fas fa-times"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <%}%>
                        
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->

<!-- Footer -->
<%-include('include/_footer')%>
<!-- /Footer -->